/* ========================================================================== */
/* GENERAL STYLES
/* ========================================================================== */

html, body {
  background-color: $bg-black;
  width: 100%;
  min-height: 100%;

  padding: 0;
  margin: 0;
  font-size: $font-size-base;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility !important;
}

body{
  overflow-x: hidden;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.float-wrapper {
  overflow: auto;
}

.wrapper-clearfix {
  overflow: auto;

  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.left {
  float:left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right;
  text-align: -webkit-right;
}

.text-left {
  text-align: left;
  text-align: -webkit-left;
}

.text-center {
  text-align: center;
  //text-align: -webkit-center;
  //text-align: -moz-center;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
  margin-right: -4px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.fixed {
  position: fixed;
}

.no-wrap-space {
  white-space: nowrap;
}

.vertical-top {
vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bottom;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.text-light {
  font-weight: 300;
}

.relative {
  position: relative;
}

/* ---------------------------------------------------- */
/* center content
/* ---------------------------------------------------- */

div.center {
  text-align: center;
}

/* ---------------------------------------------------- */
/* h1, h2, ... h6 styles
/* ---------------------------------------------------- */

h1 {
  color: $text-white;
  font-size: calculateRem(60px);
  font-weight: 400;
}

h2 {
  color: $text-white;
  font-size: calculateRem(35px);
  font-weight: 400;
}

h3 {
  color: $text-white;
  font-size: calculateRem(28px);
  font-weight: 400;
}

h4 {
  color: $text-white;
  font-size: calculateRem(21px);
  font-weight: 400;
}

h5 {
  color: $text-white;
  font-size: calculateRem(18px);
  font-weight: 400;
}

/* ---------------------------------------------------- */
/* text styles
/* ---------------------------------------------------- */

.big-header{
  font-size:calculateRem(126px);
  color: $text-white;
  font-weight: bold;
  text-align: center;
  text-transform: lowercase;
  margin-top: 120px;
}
.info{
  font-size:calculateRem(21px);
  text-align: center;
  margin-top: 70px;
  width: 100%;
}
.bold {
  font-weight: 700;
}

/* ---------------------------------------------------- */
/* span styles
/* ---------------------------------------------------- */

span {
  color: $text-white;

  &:not(.block) + a:not(.block) {
    margin-left: 4px;
  }
}


/* ---------------------------------------------------- */
/* a styles
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* colors styles
/* ---------------------------------------------------- */

.red {
  color: $text-red;
}

.white {
  color: $text-white;
}

.green {
  color: $text-green;
}

/* ---------------------------------------------------- */
/* boxes styles
/* ---------------------------------------------------- */





/* ---------------------------------------------------- */
/* other styles
/* ---------------------------------------------------- */




.button {
  @include box-sizing(border-box);
  background-color: $bg-black;
  border: 2px solid $bg-white;
  color: $text-white;
  font-size: calculateRem(21px);
  padding: 40px 130px;
  min-width: 400px;
  text-align: center;
  display: inline;
  &.green{
    border: 2px solid $text-green;
    &:hover {
      background-color: $text-green;
      color: $text-black;
    }
  }
}

/* ---------------------------------------------------- */
/* input styles
/* ---------------------------------------------------- */

$input-height: 45px;

