// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.about-head{
  margin-top: 15%;
}
.green-band{
  //margin for test purposes
  margin-top: 35%;
  background-color: $crowtec-green-dark;
  border-color: darkgreen;
  border-style: solid;
  border-width: 10px 0px 10px 0px;
  font-size: 1.3em;
  *{
    padding: 20px;
  }
}
.team{
  background-color: $crowtec-white;
}