.award-box{
  width: 100%;
  height: 200px;
  background-color: $crowtec-white;
}
.media-box{
  width: 100%;
  min-height: 500px;
  background-color: #EFEFEF;
}
.awards{
  margin-top: 35%;
}
.awards-head{
  margin-top: 15%;
}
.media{
  background-color: $crowtec-white;
}