img.background-image {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  @include filter (grayscale(100%) blur(5px));
}
.dark-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
  z-index: -1;
}

.very-dark-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
  z-index: -1;
}
.title{
  font-size: 5em;
  font-weight: bold;
  margin-top: 5%;
}
.quote{
  font-size: 2em;
  margin-top: 15%;
}




