.dark-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
  z-index: -1;
}

.very-dark-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
  z-index: -1;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.gear{
  color: $crowtec-green;
  font-size: 2em;
}
.gear:hover {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.title{
  position: absolute;
  font-size: 2em;
  bottom: 10%;
  right: 10%;
  font-weight: bold;
}
.quote{
  font-size: 2em;
  margin-top: 15%;
}




