img.background-image {
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  //@include filter (grayscale(100%) blur(5px));
}
.project-card{
  background-color: rgba(255,255,255,0.4);
  color: $crowtec-dark-gray;
  .card-image{
    width: 100%;
  }
  .card-title{
    margin-top: 0;
    margin-bottom: 0;
  }
  &:hover{
    background-color: $crowtec-white;
  }
}
